.loader{
    margin: auto;
}

.product-container{
    display: flex;
}

.product-card-container{  
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-left: 4rem;
    margin-top: 2rem;
}
.product-head{
    position: relative;
    left: 4rem;
    top: 1rem;
}