.profile-head{
    display: flex;
    justify-content: center;
}

.profile-links{
    list-style: none;
    display: inline-flex;
    margin: 0 39rem;
    font-weight: 600;
}

.profile-details-list{
    padding: 0.5rem 2rem;
    margin: 0 1rem;
    border-radius: 3px;
    text-decoration: none;
    color: black;
}