.cover-image{
    height: 35rem;
    width: 96%;
    margin-left: 2%;
    margin-top: 2rem;
}
.cover-card{
    display: inline-block;
    position: absolute;
    top: 20rem;
    width: 30rem;
    left: 10rem;
}
.cover-heading{
    font-size: 40px;
}
.cover-heading span{
    display: block;
}
.cover-details{
    font-size: 26px;
}
.shop-btn{
    text-decoration: none;
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem;
    font-size: inherit;
    cursor: pointer;
    color: black;
    font-weight: 600;
}
.shop-btn:hover{
    background: black;
    color: white;
}

.category-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.category-image{
    height: 18rem;
}
.category-item-details{
    position: relative;
    top: -12rem;
    left: 1rem;
    color: white;
}

.category-span{
    display: block;
}
.details-link{
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-bottom: 1px solid;
}
.middle-card{
    color: black;
}

.popular-category-items{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.featured-category-title{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.category-title{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.category-links{
    text-decoration: none;
}

.popular-category-images{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.popular-category-images:hover{
    box-shadow: 3px 3px 5px 1px grey;
}

.product-details{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    color: black;
}
.product-details:hover{
   text-decoration: underline;
}

@media (max-width: 414px) {
    .cover-image{
        height: 25rem;
    }
    .cover-card{
        position: absolute;
        top: 17rem;
        left: 1rem;
        width: fit-content;
    }
    .cover-heading{
        font-size: 24px;
    }
    .cover-details{
        font-size: 14px;
        display: inline;
        padding: 0.4rem;
    }
    .shop-btn{
        display: block;
        width: 5rem;
        margin: 0.5rem 0;
        padding: 0.4rem;
    }
    .category-container{
        display: block;
    }
    .category-image{
        height: 14rem;
        margin-left: 20px;
    }
    .category-item-details{
        left: 2rem;
        top: -8rem;
        font-size: small;
    }
}

@media (min-width: 764px) and (max-width:1280px){
    .cover-card{
        left: 4rem;
        top: 23rem;
    }
    .cover-heading{
        font-size: 34px;
    }
    .cover-details{
        font-size: 22px;
    }
    .shop-btn{
        padding: 0.7rem;
    }
    .category-image{
        height: 14rem;
    }
    .category-item-details{
        top: -7rem;
        font-size: 12px;
        left: 0.5rem;
    }
}